@font-face {
  font-family: "MyriadPro";
  src: url('fonts/Myriad-Pro_31655.ttf') format('truetype');
}
@font-face {
  font-family: "MyriadProBold";
  src: url('fonts/Myriad-Pro-Bold_31631.ttf') format('truetype');
}
@font-face {
  font-family: "MyriadProLight";
  src: url('fonts/Myriad-Pro-Light_31642.ttf') format('truetype');
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.bsh {
  
}
.zero {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  
  justify-content: center;
  font-family: "MyriadPro";
  font-size: 11pt;
  height: 1700px;
}
.main-box {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 63px;
}
.left-column {
  
  max-width: 345px;
  padding: 5px 65px 0 0;
}
.right-column {
  
  max-width: 525px;
}
.designer {
  display: flex;
  flex-wrap: wrap;
  
  width: 100%;
  padding: 0 0 35px 11px;
  justify-content: center;
}
.designer .foto-designer {
  max-width: 200px;
  height: 200px;
}
.circle-fill {
  r: 96px;
  cx: 50%;
  cy: 50%;
  fill: #3d6cb0;
}
.circle-stroke {
  r: 88px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: white;
  stroke-width: 12px;
}
.name-here {
  
  width: 100%;
  height: 35px;
  text-align: center;
  padding-top: 14px;
  font-family: "MyriadPro";
  font-size: 2.9rem;
  letter-spacing: 0rem;
  word-spacing: -0.2rem;
}
.surname {
  
  width: 100%;
  height: 35px;
  text-align: center;
  padding-top: 2px;
  font-family: "MyriadProBold";
  font-size: 3.2rem;
  letter-spacing: 0rem;
  word-spacing: -0.2rem;
}
h1 {
  
  width: 100%;
  height: 35px;
  text-align: center;
  padding-top: 7px;
  font-family: "MyriadPro";
  font-size: 1.3rem;
  letter-spacing: 0rem;
  word-spacing: -0.1rem;
}
.hight-block {
  display: flex;
  
  width: 100%;
  height: 60px;
}
.logo-profile {
  min-width: 59px;
  height: 59px;
  padding: 0 8px 0;
}
h2 {
  margin: 0px;
  padding: 0px;
  padding: 6px 6px 0 0;
  font-family: "MyriadProBold";
  font-size: 2.1rem;
  letter-spacing: 0rem;
  word-spacing: -0.1rem;
  color: #3d6cb0;
}
.line {
  width: 100%;
  height: 25px;
  border-bottom: 5px solid #3d6cb0;
}
.profile .text-block {
  padding: 8px 6px 30px;
  line-height: 1rem;
}
.logo-contact {
  min-width: 59px;
  height: 59px;
  padding: 0 8px 0;
}
.contact-table {
  margin: 0px;
  padding: 0px;
  padding: 15px 0 27px;
}
.contact-table td {
  margin: 0px;
  padding: 0px;
  padding: 10px 30px 10px 6px;
  font-family: "MyriadPro";
  font-size: 1.15rem;
  letter-spacing: -0.03rem;
}
.contact-table td:first-child {
  font-family: "MyriadProBold";
  color: #3d6cb0;
  letter-spacing: -0.1rem;
}
.logo-skills {
  min-width: 59px;
  height: 59px;
  padding: 0 8px 0;
}
.skills {
  text-align: center;
}
.skills .hight-block {
  padding-bottom: 12px;
}
.skills .header-text {
  
  width: 100%;
  padding: 6px 0 0;
  font-family: "MyriadPro";
  font-size: 1.4rem;
  letter-spacing: 0rem;
  word-spacing: -0.1rem;
}
.skills__point-box {
  display: flex;
  justify-content: center;
  width: 100%;
  
  padding: 6px 0 7px;
}
.skills__point-box .skills__points {
  margin: 0 4px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #3d6cb0;
}
#creative .skills__points:nth-child(n+10) {
  background-color: lightgray;
}
#teamwork .skills__points:nth-child(n+12) {
  background-color: lightgray;
}
#innovate .skills__points:nth-child(n+7) {
  background-color: lightgray;
}
#communicaton .skills__points:nth-child(n+12) {
  background-color: lightgray;
}
.logo-education {
  min-width: 59px;
  height: 59px;
  padding: 0 8px 0;
}
.education {
  padding-bottom: 40px;
}
.education .hight-block {
  padding-bottom: 12px;
}
.all-educ-box {
  display: flex;
  
  padding: 6px 0px 0px;
}
.black-point-box {
  padding: 7px 16px 0 9px;
}
.black-point {
  max-width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: black;
}
.all-educ-box__educ-container {
  display: flex;
  flex-wrap: wrap;
  
  max-width: 490px;
}
h3 {
  margin: 0px;
  padding: 0px;
  
  padding: 0px 14px 0px 0px;
  font-family: "MyriadProBold";
  font-size: 1.4rem;
  letter-spacing: -0.04rem;
  word-spacing: -0.1rem;
}
.all-educ-box__educ-container_blue {
  color: #3d6cb0;
}
h4 {
  margin: 0px;
  padding: 0px;
  
  padding: 0px 50px 0px 0px;
  font-family: "MyriadProLight";
  font-size: 1.4rem;
  letter-spacing: -0.01rem;
  word-spacing: 0rem;
}
.logo-experience {
  min-width: 59px;
  height: 59px;
  padding: 0 8px 0;
}
.experience {
  padding-bottom: 40px;
}
.experience .hight-block {
  padding-bottom: 27px;
}
.all-exp-box {
  display: flex;
  
  padding: 6px 0px 0px;
}
.all-exp-box__exp-container {
  display: flex;
  flex-wrap: wrap;
  
  max-width: 490px;
}
.logo-software {
  min-width: 59px;
  height: 59px;
  padding: 0 8px 0;
}
.software {
  padding-bottom: 40px;
}
.software .hight-block {
  padding-bottom: 14px;
}
.software__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 7px;
}
.software__box h4 {
  padding: 0px 0 4px;
}
.software__container {
  
  width: 45%;
  padding: 10px 0;
}
.software__container .photo {
  box-shadow: inset 210px 0 0 0 #3d6cb0;
}
.software__container .dream {
  box-shadow: inset 190px 0 0 0 #3d6cb0;
}
.software__container .illust {
  box-shadow: inset 160px 0 0 0 #3d6cb0;
}
.software__container .after {
  box-shadow: inset 140px 0 0 0 #3d6cb0;
}
.software__container .indes {
  box-shadow: inset 130px 0 0 0 #3d6cb0;
}
.software__container .html {
  box-shadow: inset 210px 0 0 0 #3d6cb0;
}
.software__scale {
  height: 20px;
  background-color: lightgray;
}
