/* #3d6cb0 black*/
@font-face {
  font-family: "MyriadPro";
  src: url('fonts/Myriad-Pro_31655.ttf') format('truetype');
}
@font-face {
  font-family: "MyriadProBold";
  src: url('fonts/Myriad-Pro-Bold_31631.ttf') format('truetype');
}
@font-face {
  font-family: "MyriadProLight";
  src: url('fonts/Myriad-Pro-Light_31642.ttf') format('truetype');
}
